@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="mainText">
        <h1 class="display-4 text-capitalize text-black">Welcome to Animal Page</h1>
        <h2 class="mainSubTitle">This page is for everyone :))</h2>
    </div>
    <img class="mainImage mainImage" src="~/images/dog.png" />
    <br />

    @* <a class="btn btn-primary mt-1" asp-area="" asp-page="Checkout/ThankYou">Bring me that Pizza</a> *@
</div>